<div class="well">
    Welcome to Yeoman and Ember.js!
	this mydsdsdss comment
	<br>
	{{#link-to "index"}}
	{{Emberyo.appName}}
	{{/link-to}}


	{{input type="text" value="put your name here"}}
	<br>
	<ul>
	{{#each Emberyo.dataarray}}
	{{#if age}}
		<li>{{name}} , "{{age}}" </li>
		{{else}}
		<li>{{name}}  </li>
		{{/if}}
	{{/each}}
	</ul>
</div>
